/* 
    Document   : mobile stylesheet
    Created on : 24.08.2011, 13:50:21
    Author     : Steven Bohm <sbohm@synetics.de>
*/


.menu_link_right { 
    text-align: right;
    padding-right: 20px;
    cursor: pointer;
}
.menu_link_left {
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
}

.simple_overlay {
	
	/* initially overlay is hidden */
	display:none;
	
	/* growing background image */
	background-image:url(../../images/white.png);
	
	/* 
		width after the growing animation finishes
		height is automatically calculated
	*/
	width:768px;
	
	/* some padding to layout nested elements nicely  */
	padding:35px;

	/* a little styling */	
	font-size:11px;
}

/* default close button positioned on upper right corner */
.simple_overlay .close {
	background-image:url(../../images/close.png);
	position:absolute; right:5px; top:5px;
	cursor:pointer;
	height:35px;
	width:35px;
}

/* slider root element */
.slider { 
	background:#3C72E6 url(../../images/h30.png) repeat-x 0 0; 
	height:9px; 
	position:relative; 
	cursor:pointer;
	border:1px solid #333;
	width:260px;
	float:left; 
	clear:right;
	margin-top:10px;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	-moz-box-shadow:inset 0 0 8px #000;
}

/* progress bar (enabled with progress: true) */
.progress {
	height:9px; 
	background-color:#C5FF00; 
	display:none;
	opacity:0.6;
}

/* drag handle */
.handle { 
	background:#fff url(../../images/h30.png) repeat-x 0 0; 
	height:28px;
	width:28px;
	top:-12px;
	position:absolute; 
	display:block; 
	margin-top:1px;
	border:1px solid #000;
	cursor:move;
	-moz-box-shadow:0 0 6px #000;
	-webkit-box-shadow:0 0 6px #000;
	-moz-border-radius:14px;
	-webkit-border-radius:14px; 

}

/* the input field */
.range {
	border:1px inset #ddd;
	float:left;
	font-size:20px;
	margin:0 0 0 15px;
	padding:3px 0;
	text-align:center;
	width:20px;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 		
}

.last{
    margin-right: 0;
    
}

label {
	display:block;		
	margin:3px;
	color:#ddd;
	font-size:11px;
	text-shadow:0 1px 0 #000;
}

input {
	border:1px solid;
	border-color:#ccc #ddd #ddd #ccc;	
	padding:6px;
	background-color:rgba(255, 255, 255, 0.9);	
	font-size:15px;
	color:#555;
	text-shadow:0 1px 0 #fff;
        cursor: pointer;
}

select {
	border:1px solid;
	border-color:#ccc #ddd #ddd #ccc;	
	padding:6px;
	background-color:rgba(255, 255, 255, 0.9);	
	font-size:15px;
	color:#555;
	text-shadow:0 1px 0 #fff;
        cursor:pointer;
}

